.contentContainer{
    height: auto;
    width: 18.08vw;
    margin-left: 10%;
    margin-top: 15%;
    color: antiquewhite;
}

.aboutContainer > span {
    font-size: 12px;
}


.interestsContainer > span {
    font-size: 12px;
}

@media only screen and (max-width: 900px){
    .contentContainer{
        margin-left: 20%;
        width: 30vw;
    }
    
    .aboutContainer > span {
        font-size: 10px;
    }

    .interestsContainer > span {
        font-size: 10px;
    }
    
}